*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    margin: 40px 60px 20px 60px;
    align-items: center;
}

header{
    
    background-color: rgb(150, 20, 202);
    height: 70px;
    font-size: 22px;
}

nav{
    text-align: center;
}


li{
    display: inline-block;
    margin-left: 70px;
    color: white;
    margin-top: 20px;
}

img{
    width: 150px;
    margin: 10px;
    padding-left: 10px;
}


.loja{
    display: inline-block;
    margin: 60px; 
    padding: 5px;
    text-align: center;
   
}



button{    
    font-size: 15px;
    background-color:rgb(219, 209, 209);
    padding: 2pX;
    border: none;
    margin: 10px;
}

h2{
    font-size: 25px;
    color: black;

}

footer{
    margin: 20px;
    padding: 10px;
    background-color:rgb(233, 160, 217);
    
}

form1{
    
    margin: 0px;
    color: black;  
    border: solid red;
    
   
   
}

input{
    border: none;
    background-color:rgb(219, 209, 209);
}

#enviar{
    font-size: 14px;
    width: 70px;
    height: 25px;   
    margin-left: 5px;
    padding: 3px;    
}

.form2{
    
    text-align: left;
       
}